body{
    display: block;
}

footer{
    display: none;
}

div#wrapper{
    box-shadow: none !important;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "top"
    "breadcrumbs"
    "content";
}

a#backArrow{
    display: none;
}

#dhbwLogo{
    height: 4vh;
}

h1{
    line-height: 6vh;
}

#goToTopButton{
    display: none !important;
}