*{
    margin: 0;
    padding: 0;
}

/* Imports */
@import url('../css/mobile.css');

/* Fonts */

h1,h2,h3,h4,h5,h6,p,a,li,input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 30, 30);
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
    transition: color ease-in-out 0.2s;
}

a:hover{
    color: rgb(102, 95, 95)
}

p{
    margin: 1vh 0 1vh;
}

/* Lists */

ul{
    padding-left: 1.5vw;
}

ol{
    list-style: upper-roman;
    margin-left: 1.5vw;
}

ol.secondLevel{
    list-style: lower-latin;
    margin-left: 2vw;
}


/* outer grid */

body{
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas: 
        "left top right"
        "left content right"
        "left bottom right";
    background-color: azure;
}

.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
  }
  
  .bg3 {
    animation-duration:7s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

/* inner grid */

div#wrapper{
    grid-area: content;
    box-shadow: 0 7px 10px 10px rgba(0,0,0,0.5);

    display: grid;
    grid-template-columns: 5vw 70vw 5vw;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "back top rightTop"
        "left breadcrumbs right"
        "left content right"
        "footer footer footer";
    row-gap: 2vh;
    background-color: white;
}

a#backArrow{
        border-bottom: 1px solid rgba(0,0,0,0.7);
        grid-area: back;
}

a#backArrow > img {
    height: 5vh;
    padding: 1vh;
}

div#wrapper > header{
    grid-area: top;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /*padding: 0 2vw 0;*/
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

div#wrapper > header > h1{
    text-align: center;
    line-height: 7vh;
}

#dhbwLogo{
    height: 5vh;
    padding: 1vh;
    width: auto;
    transition: all ease-in-out 0.2s;
}

#dhbwLogo:hover{
    transform: scale(1.1);
}

div#wrapper > #rightTop{
    grid-area: rightTop;
    border-bottom: 1px solid rgba(0,0,0,0.7);
}

section#breadcrumbs{
    grid-area: breadcrumbs;
}

main{
    grid-area: content;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

main > section.textBlock{
    flex-basis: 100%;
    margin-bottom: 2vh;
}

main > section.borderBottom{
    border-bottom: 1px solid black;
    padding-top: 2vh;
}

main img{
    width: 60vw;
    height: auto;
    padding: 0 5vw 0;
}

main > article {
    min-width: 15vw;
    margin: 1vh;
    /*min-height: 10vw;*/

    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    transition: transform ease-in-out 0.2s;
    transform: scale(0.9);
}

main > article:hover{
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.7);
    transform: scale(1);
}

main > article > a{
    padding: 1rem;
    width: 100%;
}

main#indexPage > article > a{
    padding: 1.2rem;
}

main > article h2{
    width: 100%;
    text-align: left;
}

main#indexPage > article h2{
    text-align: center;
}

main > iframe{
    flex-basis: 100%;
    min-height: 60vh;
    border: none;
}

main > section#sources{
    flex-basis: 100%;
    padding-top: 2vh;
}

main > section#sources ul{
    padding-left: 2vw;
    list-style-type: "- ";
}

footer{
    grid-area: footer;
}

footer > #topBar{
    width: 100%;
    height: 2vh;
    background-color: #e4082a;
}

footer > div#footerText{
    display: flex;
    flex-flow: row wrap;
    /*justify-content: space-around;*/
    background-color: #99061e;
}

footer > div#footerText p{
    line-height: 4vh;
    color: white;
    text-align: right;
    /*border-top: 1px solid rgba(0,0,0,0.7);*/
    padding: 0 5vw 0;
    flex-basis: 10vw;
}

footer > div#footerText p:first-child{
    flex-basis: 50vw;
    text-align: left;
}

footer > div#footerText a{
    color: white;
    text-align: center;
}

footer > #bottomBar{
    width: 100%;
    height: 1vh;
    background-color:  #89959b;
}

.empty h2, .empty p{
    color: grey;
}

@media screen and (max-width: 600px){

    body{
        grid-template-columns: 5vw 90vw 5vw;
    }

    div#wrapper{
        grid-template-columns: 5% 90% 5%;
    }

    div#wrapper > header > h1{
        width: 100%;
        order: 2;
    }

    #dhbwLogo{
        width: 100%;
        height: auto;
    }
  }

/* GoToTop Button */

#goToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e4082a;
    color: white;
    cursor: pointer;
    padding: 1.1rem 0.8rem 0.8rem;
    box-shadow: 0 5px 5px 5px rgba(0,0,0,0.5);
    transition: all ease-in-out 0.1s;
}

#goToTopButton:before,
#goToTopButton:after {
 content: '';
 position: absolute;
 top: 20%;
 height: 8%;
 width: 40%;
 background: white;
}

#goToTopButton:before {
    left: 10%;
    transform: skewY(-30deg);
}
   
#goToTopButton:after {
    right: 10%;
transform: skewY(30deg);
}

#goToTopButton:hover:before,
#goToTopButton:hover:after{
    height: 10%;
}
  
#goToTopButton:hover {
    background-color: #555;
}